<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>tensoid</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <script src="/libraries/jquery/jquery-1.5.1.min.js"></script>
  <script src="/libraries/jquery-ui/js/jquery-ui-1.8.13.custom.min.js"></script>
  <link rel="stylesheet" href="/libraries/jquery-ui/css/smoothness/jquery-ui-1.8.13.custom.css">

  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="/javascripts/main.js"></script>
  <%- partial('partials/resource', resources) %>
  <%- partial('partials/variable', variables) %>
</head>

<body>
  <div id="header">
    <div id="browserMessage">Currently, only works with Chrome 12 or Firefox 6!</div>
  </div>
  <div id="container">
    <div id="main">
      <%- body %>
    </div>
    <div id="footer">
    </div>
  </div>
</body>
</html>
