<div id="container">
  <div id="title">
    <h1>tensoid :sender</h1>
  </div>

  <div id="dropArea">
    <h1 id="dropAreaText"></h1>
  </div>

  <div id="progressBar" class="progressBar"></div>
</div>
